In [1]:
from sqlalchemy import create_engine, text

In [2]:
import pandas as pd
import numpy as np

In [3]:
database_name = 'scooters'    # Fill this in with your lahman database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [4]:
connection_string

'postgresql://postgres:postgres@localhost:5432/scooters'

In [5]:
engine = create_engine(connection_string)

In [6]:
query = '''
SELECT *
FROM scooters
LIMIT 900000
;'''

with engine.connect() as connection:    
    scooters = pd.read_sql(text(query), con = connection)

### Are there any null values in any columns in either table?

In [7]:
scooters.isnull().values.any()

False

In [8]:
query = '''
SELECT *
FROM trips
LIMIT 900000;
'''

with engine.connect() as connection:    
    trips = pd.read_sql(text(query), con = connection)

In [9]:
tripsresult.fetchone()

NameError: name 'tripsresult' is not defined

In [ ]:
tripsresult

### Are there any null values in any columns in either table?

In [ ]:
trips.isnull().values.any()

### What date range is represented in each of the date columns? Investigate any values that seem odd.

In [ ]:
query = '''
SELECT pubdatetime
FROM scooters
LIMIT 900000
;'''

with engine.connect() as connection:    
    scooters = pd.read_sql(text(query), con = connection)

In [ ]:
scooters

In [ ]:
dates = scooters.pubdatetime
dates

In [ ]:
earliest_date = scooters['pubdatetime'].min()
earliest_date

In [ ]:
latest_date = scooters['pubdatetime'].max()
latest_date

In [ ]:
query = '''
SELECT *
FROM trips
LIMIT 900000;
'''

with engine.connect() as connection:    
    trips = pd.read_sql(text(query), con = connection)

In [ ]:
trips

In [ ]:
df = trips['companyname'].value_counts
df

### DISTINCT Company Names 
"Bird"
"Bolt"
"Gotcha"
"Jump"
"Lime"
"Lyft"
"Spin"

In [ ]:
trips.companyname.value_counts()

### count for trips = 565522
### Row for Scooters = 73414043

### Is time represented with am/pm or using 24 hour values in each of the columns that include time?

### min_lat :- 0.000000, max_lat :- 	3609874.116666,  min_lon:-	-97.443879, max_lon :-	0.000000 (For whole Data )

it shows that the minimum latitude is 0, while the maximum latitude is over 3.6 million. This is not possible, as latitude values must be between -90 and 90 degrees.data could be representing the coordinates of points on a curved surface, such as a globe.

### DISTINCT Company Names  (For whole Data )
"Bird"
"Bolt"
"Gotcha"
"Jump"
"Lime"
"Lyft"
"Spin"

### What values are there in the sumdgroup column? Are there any that are not of interest for this project?(For whole Data )

"bicycle"
"scooter"
"Scooter"   Only the text Capitalization

#### chargelevel  (running power.) ---- Min chargelevel = 0, MAX chargelevel = 100.00, AVG chargelevel    58.0983202248726875

### What is the range of values for trip duration and trip distance? (For whole Data )
min_duration = -19.3582666667
MAX Duration = 512619.0
Min Distance = -20324803.8
MAX DIStance = 31884482.6476

#### Check out how the values for the company name column in the scooters table compare to those of the trips table

###