In [1]:
from sqlalchemy import create_engine, text

In [2]:
import pandas as pd
import numpy as np

In [3]:
database_name = 'scooters'    # Fill this in with your lahman database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [4]:
connection_string

'postgresql://postgres:postgres@localhost:5432/scooters'

In [5]:
engine = create_engine(connection_string)

In [6]:
query = '''
SELECT *
FROM scooters
LIMIT 900000
;'''

with engine.connect() as connection:    
    scooters = pd.read_sql(text(query), con = connection)

### Are there any null values in any columns in either table?

In [7]:
scooters.isnull().values.any()

False

In [8]:
query = '''
SELECT *
FROM trips
LIMIT 900000;
'''

with engine.connect() as connection:    
    trips = pd.read_sql(text(query), con = connection)

In [9]:
tripsresult.fetchone()

NameError: name 'tripsresult' is not defined

In [ ]:
tripsresult

### Are there any null values in any columns in either table?

In [ ]:
trips.isnull().values.any()

### What date range is represented in each of the date columns? Investigate any values that seem odd.

In [ ]:
query = '''
SELECT pubdatetime
FROM scooters
LIMIT 900000
;'''

with engine.connect() as connection:    
    scooters = pd.read_sql(text(query), con = connection)

In [ ]:
scooters

In [ ]:
dates = scooters.pubdatetime
dates

In [10]:
earliest_date = scooters['pubdatetime'].min()
earliest_date

Timestamp('2019-05-04 23:28:35')

In [11]:
latest_date = scooters['pubdatetime'].max()
latest_date

Timestamp('2019-05-07 03:40:25.353000')

In [ ]:
query = '''
SELECT *
FROM trips
LIMIT 900000;
'''

with engine.connect() as connection:    
    trips = pd.read_sql(text(query), con = connection)

In [14]:
trips

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-07-05 15:55:36.900,Lime,LIM789996,PoweredOD524HKHPZFN6,5.000000,1786.228361,2019-07-05,15:20:46,2019-07-05,15:25:45,36.164081,-86.769430,36.161119,-86.773941,"[(36.16408, -86.76943), (36.16406, -86.76941),...",2019-07-06 09:15:44.917
1,2019-07-05 15:55:36.900,Lime,LIM789995,PoweredU6FP6ZXZ6JRTC,9.000000,4233.442387,2019-07-05,15:15:32,2019-07-05,15:24:22,36.152753,-86.807546,36.142154,-86.805123,"[(36.15248, -86.80728), (36.15005, -86.8053700...",2019-07-06 09:15:44.887
2,2019-07-05 15:55:36.900,Lime,LIM789993,PoweredHNVQAAX6ZNBXF,11.000000,5415.248891,2019-07-05,15:13:44,2019-07-05,15:24:10,36.145874,-86.810411,36.136322,-86.800959,"[(36.14614, -86.80975), (36.14623, -86.8078499...",2019-07-06 09:15:44.827
3,2019-07-05 15:55:36.900,Lime,LIM789994,PoweredVUJAJ6H4VVDJF,11.000000,1779.518093,2019-07-05,15:13:36,2019-07-05,15:24:16,36.157746,-86.772647,36.158298,-86.777053,"[(36.15783, -86.77275), (36.15765, -86.77319),...",2019-07-06 09:15:44.857
4,2019-07-05 15:55:36.907,Lime,LIM789998,PoweredWYE7VB7NB4RGC,11.000000,7456.766254,2019-07-05,15:16:37,2019-07-05,15:27:20,36.124497,-86.787389,36.136891,-86.799622,"[(36.1256, -86.78778), (36.12582, -86.78904), ...",2019-07-06 09:15:44.977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565517,2019-07-05 15:55:36.877,Lime,LIM789989,PoweredQXOJ4YC64PPXP,3.000000,2688.469093,2019-07-05,15:18:16,2019-07-05,15:21:30,36.164152,-86.769399,36.159668,-86.774857,"[(36.16415, -86.7694), (36.16406, -86.76944), ...",2019-07-06 09:15:44.703
565518,2019-07-05 15:55:36.883,Lime,LIM789990,PoweredYP4D4JH24KXMK,9.000000,6569.693024,2019-07-05,15:14:14,2019-07-05,15:23:49,36.145822,-86.810511,36.136323,-86.801027,"[(36.14582, -86.81051), (36.14586, -86.81047),...",2019-07-06 09:15:44.733
565519,2019-07-05 15:55:36.890,Lime,LIM789991,PoweredO3WDVHQIXS4YQ,11.000000,6776.544712,2019-07-05,15:13:41,2019-07-05,15:24:00,36.145687,-86.810668,36.136347,-86.801035,"[(36.14569, -86.81067), (36.14589, -86.81056),...",2019-07-06 09:15:44.763
565520,2019-07-05 15:55:36.897,Lime,LIM789992,PoweredVL2GDHTIFQTSU,11.000000,5905.784962,2019-07-05,15:13:34,2019-07-05,15:24:08,36.145840,-86.810506,36.136398,-86.801115,"[(36.14598, -86.81025), (36.146460000000005, -...",2019-07-06 09:15:44.797
565521,2019-07-05 15:56:29.177,Lyft,LFT286,Powered381891,15.085283,6387.795480,2019-07-05,15:41:23.970000,2019-07-05,15:56:29.086666,36.150910,-86.813130,36.150240,-86.813170,"[(36.15091, -86.81313), (36.1509, -86.81325), ...",2019-07-06 10:16:54.707

In [ ]:
df = trips['companyname'].value_counts
df

### DISTINCT Company Names 
"Bird"
"Bolt"
"Gotcha"
"Jump"
"Lime"
"Lyft"
"Spin"

In [ ]:
trips.companyname.value_counts()

### count for trips = 565522
### Row for Scooters = 73414043

### Is time represented with am/pm or using 24 hour values in each of the columns that include time?

### min_lat :- 0.000000, max_lat :- 	3609874.116666,  min_lon:-	-97.443879, max_lon :-	0.000000 (For whole Data )

it shows that the minimum latitude is 0, while the maximum latitude is over 3.6 million. This is not possible, as latitude values must be between -90 and 90 degrees.data could be representing the coordinates of points on a curved surface, such as a globe.

### min_Startlat :- 35.8532, MaxStart Log :- -86.3662, min end Lat  -36.850405, max end Log -174.764886

### DISTINCT Company Names  (For whole Data )
"Bird"
"Bolt"
"Gotcha"
"Jump"
"Lime"
"Lyft"
"Spin"

### What values are there in the sumdgroup column? Are there any that are not of interest for this project?(For whole Data )

"bicycle"
"scooter"
"Scooter"   Only the text Capitalization

#### chargelevel  (running power.) ---- Min chargelevel = 0, MAX chargelevel = 100.00, AVG chargelevel    58.0983202248726875

### What is the range of values for trip duration and trip distance? (For whole Data )
min_duration = -19.3582666667
MAX Duration = 512619.0
Min Distance = -20324803.8
MAX DIStance = 31884482.6476

#### Check out how the values for the company name column in the scooters table compare to those of the trips table

###

In [13]:
query = '''
SELECT *
FROM trips
LIMIT 900000;
'''

with engine.connect() as connection:    
    trips = pd.read_sql(text(query), con = connection)

In [15]:
trips

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-07-05 15:55:36.900,Lime,LIM789996,PoweredOD524HKHPZFN6,5.000000,1786.228361,2019-07-05,15:20:46,2019-07-05,15:25:45,36.164081,-86.769430,36.161119,-86.773941,"[(36.16408, -86.76943), (36.16406, -86.76941),...",2019-07-06 09:15:44.917
1,2019-07-05 15:55:36.900,Lime,LIM789995,PoweredU6FP6ZXZ6JRTC,9.000000,4233.442387,2019-07-05,15:15:32,2019-07-05,15:24:22,36.152753,-86.807546,36.142154,-86.805123,"[(36.15248, -86.80728), (36.15005, -86.8053700...",2019-07-06 09:15:44.887
2,2019-07-05 15:55:36.900,Lime,LIM789993,PoweredHNVQAAX6ZNBXF,11.000000,5415.248891,2019-07-05,15:13:44,2019-07-05,15:24:10,36.145874,-86.810411,36.136322,-86.800959,"[(36.14614, -86.80975), (36.14623, -86.8078499...",2019-07-06 09:15:44.827
3,2019-07-05 15:55:36.900,Lime,LIM789994,PoweredVUJAJ6H4VVDJF,11.000000,1779.518093,2019-07-05,15:13:36,2019-07-05,15:24:16,36.157746,-86.772647,36.158298,-86.777053,"[(36.15783, -86.77275), (36.15765, -86.77319),...",2019-07-06 09:15:44.857
4,2019-07-05 15:55:36.907,Lime,LIM789998,PoweredWYE7VB7NB4RGC,11.000000,7456.766254,2019-07-05,15:16:37,2019-07-05,15:27:20,36.124497,-86.787389,36.136891,-86.799622,"[(36.1256, -86.78778), (36.12582, -86.78904), ...",2019-07-06 09:15:44.977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565517,2019-07-05 15:55:36.877,Lime,LIM789989,PoweredQXOJ4YC64PPXP,3.000000,2688.469093,2019-07-05,15:18:16,2019-07-05,15:21:30,36.164152,-86.769399,36.159668,-86.774857,"[(36.16415, -86.7694), (36.16406, -86.76944), ...",2019-07-06 09:15:44.703
565518,2019-07-05 15:55:36.883,Lime,LIM789990,PoweredYP4D4JH24KXMK,9.000000,6569.693024,2019-07-05,15:14:14,2019-07-05,15:23:49,36.145822,-86.810511,36.136323,-86.801027,"[(36.14582, -86.81051), (36.14586, -86.81047),...",2019-07-06 09:15:44.733
565519,2019-07-05 15:55:36.890,Lime,LIM789991,PoweredO3WDVHQIXS4YQ,11.000000,6776.544712,2019-07-05,15:13:41,2019-07-05,15:24:00,36.145687,-86.810668,36.136347,-86.801035,"[(36.14569, -86.81067), (36.14589, -86.81056),...",2019-07-06 09:15:44.763
565520,2019-07-05 15:55:36.897,Lime,LIM789992,PoweredVL2GDHTIFQTSU,11.000000,5905.784962,2019-07-05,15:13:34,2019-07-05,15:24:08,36.145840,-86.810506,36.136398,-86.801115,"[(36.14598, -86.81025), (36.146460000000005, -...",2019-07-06 09:15:44.797
565521,2019-07-05 15:56:29.177,Lyft,LFT286,Powered381891,15.085283,6387.795480,2019-07-05,15:41:23.970000,2019-07-05,15:56:29.086666,36.150910,-86.813130,36.150240,-86.813170,"[(36.15091, -86.81313), (36.1509, -86.81325), ...",2019-07-06 10:16:54.707

In [23]:
trips.columns

Index(['pubtimestamp', 'companyname', 'triprecordnum', 'sumdid',
       'tripduration', 'tripdistance', 'startdate', 'starttime', 'enddate',
       'endtime', 'startlatitude', 'startlongitude', 'endlatitude',
       'endlongitude', 'triproute', 'create_dt'],
      dtype='object')

In [24]:
trips = trips.drop('create_dt',axis =1)

In [25]:
trips.columns

Index(['pubtimestamp', 'companyname', 'triprecordnum', 'sumdid',
       'tripduration', 'tripdistance', 'startdate', 'starttime', 'enddate',
       'endtime', 'startlatitude', 'startlongitude', 'endlatitude',
       'endlongitude', 'triproute'],
      dtype='object')

In [26]:
trips.value_counts('sumdid')

sumdid
PoweredUNKNOWN                                 3613
Poweredb671ffe4-2bca-5880-98ec-d36f65aa11a2    1908
PoweredR3QXO6TL2HIAB                            382
PoweredZ6HF5P5HCJCT5                            369
PoweredCL37MXJKM7RS5                            352
                                               ...
PoweredCDG4W                                      1
PoweredC7EZRZTYAREOS                              1
PoweredBXSER                                      1
PoweredBQW98                                      1
StandardLIRPOZ7X3ZVGO                             1
Name: count, Length: 9005, dtype: int64

In [30]:
trips_df = trips[['startlatitude', 'startlongitude', 'endlatitude','endlongitude']]

In [31]:
trips_df

        startlatitude  startlongitude  endlatitude  endlongitude
0           36.164081      -86.769430    36.161119    -86.773941
1           36.152753      -86.807546    36.142154    -86.805123
2           36.145874      -86.810411    36.136322    -86.800959
3           36.157746      -86.772647    36.158298    -86.777053
4           36.124497      -86.787389    36.136891    -86.799622
...               ...             ...          ...           ...
565517      36.164152      -86.769399    36.159668    -86.774857
565518      36.145822      -86.810511    36.136323    -86.801027
565519      36.145687      -86.810668    36.136347    -86.801035
565520      36.145840      -86.810506    36.136398    -86.801115
565521      36.150910      -86.813130    36.150240    -86.813170

[565522 rows x 4 columns]

In [32]:
trips_df_grped = trips_df.groupby('startlatitude')

In [34]:
trips_df_grped_df = trips_df_grped.agg({'endlatitude':'mean'})

In [35]:
trips_df_grped_df

               endlatitude
startlatitude
35.853200        36.160900
36.037117        36.037360
36.037283        36.037267
36.037375        36.037394
36.037381        36.037379
...                    ...
36.292896        36.257791
36.292983        36.300143
36.293024        36.293140
36.299569        36.163082
36.300029        36.292916

[86090 rows x 1 columns]