In [1]:
from sqlalchemy import create_engine, text
import pandas as pd

In [2]:
database_name = 'Scooters'    # Fill this in with your lahman database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [3]:
engine = create_engine(connection_string)

In [4]:
query = '''
SELECT *
FROM Scooters
LIMIT 900000
'''

with engine.connect() as connection: result = connection.execute(text(query))

In [5]:
with engine.connect() as connection:    
    scooters = pd.read_sql(text(query), con = connection)

In [6]:
scooters

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-13 07:11:27.447,36.176675,-86.752244,PoweredWWBSDNYVZRBZX,Powered,98.0,scooter,0.0,Lime
1,2019-05-13 07:11:27.447,36.174446,-86.785743,PoweredQPTPXL34FTX5V,Powered,100.0,scooter,0.0,Lime
2,2019-05-13 07:11:27.447,36.118179,-86.789552,PoweredLD77BOOZ4B4SB,Powered,96.0,scooter,0.0,Lime
3,2019-05-13 07:11:27.447,36.177008,-86.750898,PoweredJCTIQ6FPT6PGY,Powered,100.0,scooter,0.0,Lime
4,2019-05-13 07:11:27.447,36.122179,-86.790200,PoweredR7GY4RMYPSSCR,Powered,60.0,scooter,0.0,Lime
...,...,...,...,...,...,...,...,...,...
899995,2019-05-15 01:29:40.367,36.161258,-86.779006,PoweredDCYLW,Powered,50.0,scooter,0.0,Bird
899996,2019-05-15 01:29:40.367,36.163368,-86.780505,PoweredT35IN,Powered,20.0,scooter,0.0,Bird
899997,2019-05-15 01:29:40.367,36.165062,-86.778336,PoweredYNACF,Powered,42.0,scooter,0.0,Bird
899998,2019-05-15 01:29:40.367,36.173332,-86.785479,Powered6B4C4,Powered,100.0,scooter,0.0,Bird
899999,2019-05-15 01:29:40.367,36.160363,-86.778255,Powered81XNI,Powered,85.0,scooter,0.0,Bird

In [23]:
trips

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-06-01 23:40:48.313,Lyft,LFT2589,Powered223899,27.213383,12142.38884,2019-06-01,23:13:35.393333,2019-06-01,23:40:48.196666,36.163330,-86.791420,36.163730,-86.789880,"[(36.16333, -86.79142), (36.16311, -86.79134),...",2019-06-02 08:36:08.253
1,2019-06-01 23:41:02.210,Lyft,LFT2590,Powered202872,26.467017,11932.41508,2019-06-01,23:14:34.106666,2019-06-01,23:41:02.126666,36.163320,-86.791390,36.163900,-86.790500,"[(36.16332, -86.79139), (36.16341, -86.79137),...",2019-06-02 08:36:08.283
2,2019-06-01 23:41:17.190,Lyft,LFT2591,Powered988063,23.104167,1476.37800,2019-06-01,23:18:10.820000,2019-06-01,23:41:17.070000,36.184120,-86.772390,36.184160,-86.772440,"[(36.18412, -86.77239), (36.18412, -86.77245),...",2019-06-02 08:36:08.317
3,2019-06-01 23:41:22.457,Lyft,LFT2592,Powered387462,11.504417,6968.50416,2019-06-01,23:29:52.073333,2019-06-01,23:41:22.336666,36.133530,-86.797130,36.150540,-86.791870,"[(36.13353, -86.79713), (36.13359, -86.79714),...",2019-06-02 08:36:08.347
4,2019-06-01 23:41:25.180,Lyft,LFT2593,Powered738643,1.737767,633.20212,2019-06-01,23:39:40.816666,2019-06-01,23:41:25.083333,36.185250,-86.773540,36.184150,-86.772420,"[(36.18525, -86.77354), (36.18511, -86.77356),...",2019-06-02 08:36:08.377
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565517,2019-06-01 23:40:29.233,Lyft,LFT2586,Powered362264,14.524650,3799.21272,2019-06-01,23:25:57.640000,2019-06-01,23:40:29.116666,36.160600,-86.775170,36.160520,-86.775020,"[(36.1606, -86.77517), (36.16057, -86.77511), ...",2019-06-02 08:36:08.163
565518,2019-06-01 23:40:34.683,Lyft,LFT2587,Powered797959,13.607433,3484.25208,2019-06-01,23:26:58.146666,2019-06-01,23:40:34.593333,36.160590,-86.775180,36.160480,-86.775020,"[(36.16059, -86.77518), (36.16059, -86.77511),...",2019-06-02 08:36:08.193
565519,2019-06-01 23:40:35.930,Lyft,LFT2588,Powered286845,5.861817,3484.25208,2019-06-01,23:34:44.090000,2019-06-01,23:40:35.800000,36.150600,-86.801410,36.148230,-86.809010,"[(36.1506, -86.80141), (36.15054, -86.80147), ...",2019-06-02 08:36:08.223
565520,2019-06-01 23:41:53.983,Bird,BRD5517,PoweredVFT7Q,11.000000,6233.59600,2019-06-01,23:31:29.453333,2019-06-01,23:42:15.670000,36.151100,-86.787300,36.162800,-86.789000,"[(36.151852, -86.787179), (36.151535, -86.7843...",2019-06-02 05:32:12.053
565521,2019-06-01 23:50:42.353,Lime,LIM5211,PoweredW3YI73Y5FTUNI,19.500000,9232.17120,2019-06-01,16:23:25,2019-06-01,16:42:55,36.138855,-86.766601,36.160871,-86.777221,"[(36.13965, -86.76658), (36.14175, -86.76622),...",2019-06-02 08:04:56.007

In [7]:
query = '''
SELECT *
FROM trips
LIMIT 900000
'''

with engine.connect() as connection: result = connection.execute(text(query))

In [8]:
with engine.connect() as connection:    
    trips = pd.read_sql(text(query), con = connection)

In [9]:
#1. Are there any null values in any columns in either table?

In [10]:
scooters.isnull().value_counts()

pubdatetime  latitude  longitude  sumdid  sumdtype  chargelevel  sumdgroup  costpermin  companyname
False        False     False      False   False     False        False      False       False          900000
Name: count, dtype: int64

In [11]:
#2. What date range is represented in each of the date columns? Investigate any values that seem odd.

In [12]:
scooters.pubdatetime.min()

Timestamp('2019-05-13 07:11:27.447000')

In [13]:
scooters.pubdatetime.max()

Timestamp('2019-05-15 01:38:55.567000')

In [14]:
#3. Is time represented with am/pm or using 24 hour values in each of the columns that include time?

In [15]:
#24 hr values

In [16]:
#4. What values are there in the sumdgroup column? Are there any that are not of interest for this project?

In [17]:
scooters.sumdgroup.value_counts()

sumdgroup
scooter    845035
Scooter     54458
bicycle       507
Name: count, dtype: int64

In [18]:
#5. What are the minimum and maximum values for all the latitude and longitude columns? Do these ranges make sense, or is there anything surprising?

In [19]:
# min latitude: 0.000000 max latitude: 3609874.116666 
# min longitude: -97.443879 max longitude: 0.000000

In [20]:
#6. What is the range of values for trip duration and trip distance? Do these values make sense? Explore values that might seem questionable.

In [22]:
trips.tripduration.describe()

count    565522.000000
mean         69.770554
std         897.418039
min         -19.358267
25%           5.000000
50%          10.066667
75%          20.236800
max      512619.000000
Name: tripduration, dtype: float64

In [ ]:
#7. Check out how the values for the company name column in the scooters table compare to those of the trips table. What do you notice?

In [25]:
scooters.companyname.value_counts()

companyname
Lime      419972
Bird      214270
Lyft      211300
Gotcha     54458
Name: count, dtype: int64

In [24]:
trips.companyname.value_counts()

companyname
Lime             225694
Bird             152745
Lyft             120991
SPIN              34450
Bolt Mobility     21890
JUMP               6437
Gotcha             3315
Name: count, dtype: int64