In [ ]:
from sqlalchemy import create_engine, text

In [ ]:
import pandas as pd

In [ ]:
database_name = 'scooters'    # Fill this in with your---- database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [ ]:
engine = create_engine(connection_string)

In [ ]:
query = '''
SELECT *
FROM scooters
WHERE pubdatetime IS NULL OR latitude IS NULL OR longitude IS NULL OR sumdid IS NULL OR  sumdtype IS NULL OR
chargelevel IS NULL OR  sumdgroup IS NULL OR  costpermin IS NULL OR companyname IS NULL;
'''

In [ ]:
with engine.connect() as connection:    
 nullvalues_scooters = pd.read_sql(text(query), con = connection)

In [ ]:
 nullvalues_scooters

In [ ]:
 nullvalues_scooters.isnull().sum()

Are there any null values in any columns in either table? YES- 770 nulls found

#trips.companyname are 7 (jump,lime,bird,lyft,spin,bolt mobility,gotcha)

#What date range is represented in each of the date columns? Investigate any values that seem odd.
#. min date- 2019-05-01 00:01:41.247 : max date- 2019-07-31 23:59:57; 
#min date possibly accoundated for milliseconds (.247) where as max date has %Y-%m-%d-%H:%M:%S format.

In [ ]:
query='''
select MIN(pubdatetime)AS min_date, MAX(pubdatetime) AS max_date
from scooters
'''

In [ ]:
with engine.connect() as connection:    
   dates_range = pd.read_sql(text(query), con = connection)

In [ ]:
  dates_range

#Is time represented with am/pm or using 24 hour values in each of the columns that include time? 24 hours

##What values are there in the sumdgroup column? scooter, Scooter and bicycle. 
#Are there any that are not of interest for this project? bicycle

In [ ]:
query = '''
SELECT DISTINCT sumdgroup
FROM scooters
'''
with engine.connect() as connection:    
    sumdgroup = pd.read_sql(text(query), con = connection)

In [ ]:
sumdgroup

In [ ]:
query = '''
SELECT DISTINCT companyname
FROM scooters
'''
with engine.connect() as connection:    
   scooters_companyname = pd.read_sql(text(query), con = connection)

In [ ]:
 scooters_companyname

In [ ]:
query = '''
SELECT DISTINCT companyname
FROM trips
'''
with engine.connect() as connection:    
    trips_companyname = pd.read_sql(text(query), con = connection)

In [ ]:
trips_companyname

In [ ]:
query = '''
SELECT *
FROM trips
Limit 5;
'''
with engine.connect() as connection:    
    trips = pd.read_sql(text(query), con = connection)

In [ ]:
trips.head(5)

In [ ]:
query = '''
SELECT companyname, COUNT(companyname) 
FROM scooters 
GROUP BY companyname 
'''
with engine.connect() as connection:    
    companyname_scount = pd.read_sql(text(query), con = connection)

In [ ]:
companyname_scount

In [ ]:
query = '''
SELECT companyname, COUNT(companyname)
FROM trips 
GROUP BY companyname
'''
with engine.connect() as connection:    
    companyname_tcount = pd.read_sql(text(query), con = connection)

In [ ]:
  companyname_tcount

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
plt.style.use('ggplot')

In [ ]:
query = '''
SELECT companyname, COUNT( DISTINCT sumdid), sumdid
FROM trips
WHERE pubtimestamp >= '2019-06-01' AND pubtimestamp <= '2019-06-30' 
GROUP BY companyname,  sumdid;
'''
with engine.connect() as connection:    
    june_trips_data = pd.read_sql(text(query), con = connection)

In [ ]:
 june_trips_data.loc[june_trips_data['companyname'] == 'Bird'].head(20)

In [ ]:
june_trips_data['companyname'].value_counts().plot(kind = 'bar');

In [ ]:
query = '''
  SELECT companyname, MAX(costpermin)::money AS cost_per_min
FROM scooters
GROUP BY companyname
ORDER BY cost_per_min;
'''
with engine.connect() as connection:    
    scooter_costs = pd.read_sql(text(query), con = connection)

In [ ]:
scooter_costs

In [ ]:
# Create a bar plot

plt.bar(scooter_costs['companyname'], scooter_costs['cost_per_min'],color = ['lightblue', 'blue', 'purple', 'red', 'black','c','green'])

plt.title('Maximum Cost per Minute by Company')
plt.xlabel('Company Name')
plt.ylabel('Cost per Minute (USD)')
plt.xticks  # Rotate x-axis labels for better readability

plt.tight_layout()
plt.show()

In [ ]:
query = '''
 SELECT companyname, ROUND(SUM(tripduration), 2) AS time_duration
FROM trips
GROUP BY companyname
ORDER BY time_duration ;
'''
with engine.connect() as connection:    
    time_duration = pd.read_sql(text(query), con = connection)

In [ ]:
time_duration

In [ ]:
plt.bar(time_duration['companyname'], time_duration['time_duration'],color = ['green','black','purple', 'red', 'c','lightblue', 'blue'])
plt.title('Total Trip Duration by Company')
plt.xlabel('Company Name')
plt.ylabel('Total Trip Duration (minutes)')
plt.xticks  

plt.tight_layout()
plt.show()

In [ ]:
query = '''
SELECT startdate, COUNT(startdate) AS usage
FROM trips
GROUP BY startdate
ORDER BY usage 
LIMIT 5
'''
with engine.connect() as connection:    
     startdate_usage= pd.read_sql(text(query), con = connection)

In [ ]:
startdate_usage

In [ ]:
plt.bar(startdate_usage['startdate'], startdate_usage['usage'], color='skyblue')
plt.title('Top 5 Start Dates by Trip Usage')
plt.xlabel('Start Date')
plt.ylabel('Usage Count')

# Rotate x-axis labels for better readability
plt.xticks(rotation=45, ha='right')


plt.show()

In [ ]:
query = '''
SELECT ROUND((MAX(tripdistance)/5280), 2) AS distance_miles, COUNT(tripdistance) AS trip_count
FROM trips
GROUP BY tripdistance 
ORDER BY trip_count DESC
limit 6;
'''
with engine.connect() as connection:    
    trip_distance = pd.read_sql(text(query), con = connection)

In [ ]:
 trip_distance

In [ ]:

sns.boxplot(x=trip_distance['distance_miles'], data=trip_distance)
plt.title('Top 5 most common Trip Distances(miles)')
plt.xlabel('Distance (miles)')


plt.show()

In [ ]:

sns.boxplot(y=trip_distance['distance_miles'], data=trip_distance)
plt.title('Trip Distance (miles) for Top 6 Trip Counts')
plt.ylabel('Distance (miles)')  # Label for the y-axis

plt.tight_layout()
plt.show()

In [ ]:
trip_distance.boxplot('distance_miles')

In [ ]:
sns.violinplot(x=trip_distance['distance_miles'], data=trip_distance)
plt.title('Violin Plot of Trip Distance (miles) for Top 6 Trip Counts')
plt.xlabel('Distance (miles)')

plt.tight_layout()
plt.show()