In [1]:
from sqlalchemy import create_engine, text

In [2]:
import pandas as pd

In [3]:
database_name = 'scooters'    # Fill this in with your lahman database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [4]:
engine = create_engine(connection_string)

In [5]:
query = '''
SELECT *
FROM scooters
LIMIT 100;
'''
with engine.connect() as connection:    
 scooters = pd.read_sql(text(query), con = connection)

#counts for scooters 73414043

In [6]:
scooters

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-06-07 17:29:26.387,36.165968,-86.765875,PoweredLLGGODUOQ2VDO,Powered,58.0,scooter,0.15,Lime
1,2019-06-07 17:29:26.387,36.183347,-86.794930,PoweredIT4OCGTJ5PMGY,Powered,52.0,scooter,0.15,Lime
2,2019-06-07 17:29:26.387,36.174688,-86.773169,PoweredZOCKVYKHOOL77,Powered,44.0,scooter,0.15,Lime
3,2019-06-07 17:29:26.387,36.157918,-86.767068,PoweredOUM6ZZTSLI7ZJ,Powered,91.0,scooter,0.15,Lime
4,2019-06-07 17:29:26.387,36.171142,-86.771040,PoweredRASQFMLDNIFCH,Powered,55.0,scooter,0.15,Lime
...,...,...,...,...,...,...,...,...,...
95,2019-06-07 17:29:26.410,36.184799,-86.754494,PoweredHO7YLCI6JS3MS,Powered,73.0,scooter,0.15,Lime
96,2019-06-07 17:29:26.410,36.091211,-86.917881,Powered3IA7BYM7HIZYZ,Powered,37.0,scooter,0.15,Lime
97,2019-06-07 17:29:26.410,36.042839,-86.613830,Powered522WAYDFKQ2CD,Powered,80.0,scooter,0.15,Lime
98,2019-06-07 17:29:26.410,36.094901,-86.801277,PoweredYZRTBNE34LX4J,Powered,24.0,scooter,0.15,Lime
99,2019-06-07 17:29:26.410,36.182862,-86.748903,PoweredFE5KCXCTUCP7A,Powered,100.0,scooter,0.15,Lime

In [7]:
scooters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pubdatetime  100 non-null    datetime64[ns]
 1   latitude     100 non-null    float64
 2   longitude    100 non-null    float64
 3   sumdid       100 non-null    object
 4   sumdtype     100 non-null    object
 5   chargelevel  100 non-null    float64
 6   sumdgroup    100 non-null    object
 7   costpermin   100 non-null    float64
 8   companyname  100 non-null    object
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 7.2+ KB

## Count the number of null values in each column

In [8]:
scooters.isnull().sum()

pubdatetime    0
latitude       0
longitude      0
sumdid         0
sumdtype       0
chargelevel    0
sumdgroup      0
costpermin     0
companyname    0
dtype: int64

In [11]:
query = '''
SELECT *
FROM trips
LIMIT 5000;
'''
with engine.connect() as connection:    
 trips = pd.read_sql(text(query), con = connection)

In [20]:
trips

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-07-27 18:30:17.613,Lyft,LFT604,Powered713060,9.673483,7601.70628,2019-07-27,18:20:37.086666,2019-07-27,18:30:17.493333,36.15405,-86.79288,36.15782,-86.80524,"[(36.15405, -86.79288), (36.15386, -86.79304),...",2019-07-28 10:23:11.127
1,2019-07-27 18:30:18.030,Lyft,LFT605,Powered794954,0.552333,0.00000,2019-07-27,18:29:44.760000,2019-07-27,18:30:17.900000,36.15974,-86.77757,36.15973,-86.77755,"[(36.15974, -86.77757), (36.15973, -86.77755)]",2019-07-28 10:23:11.157
2,2019-07-27 18:30:22.577,Lyft,LFT606,Powered755103,23.871567,10770.99772,2019-07-27,18:06:30.153333,2019-07-27,18:30:22.446666,36.15009,-86.81676,36.13659,-86.79543,"[(36.15009, -86.81676), (36.15007, -86.81683),...",2019-07-28 10:23:11.190
3,2019-07-27 18:30:22.740,Lyft,LFT607,Powered645069,26.465317,11138.45180,2019-07-27,18:03:54.683333,2019-07-27,18:30:22.600000,36.17506,-86.75919,36.16308,-86.78461,"[(36.17506, -86.75919), (36.17502, -86.75933),...",2019-07-28 10:23:11.220
4,2019-07-27 18:31:30.493,Bird,BRD2017,PoweredPXIRJ,5.000000,656.16800,2019-07-27,18:27:27.540000,2019-07-27,18:32:32.966666,36.16100,-86.77740,36.16350,-86.77900,"[(36.161173, -86.777291), (36.161173, -86.7772...",2019-07-28 05:31:19.703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2019-07-28 01:41:45.673,Bird,BRD6168,PoweredECSWZ,5.000000,0.00000,2019-07-28,01:37:48.266666,2019-07-28,01:43:07.063333,36.16180,-86.77950,36.16010,-86.78290,"[(36.161832, -86.779549), (36.161901, -86.7797...",2019-07-29 05:30:28.980
4996,2019-07-28 01:41:45.673,Bird,BRD6170,PoweredVWHG4,11.000000,4921.26000,2019-07-28,01:31:53.493333,2019-07-28,01:42:38.243333,36.17720,-86.75100,36.17160,-86.76160,"[(36.177241, -86.750986), (36.17713, -86.75116...",2019-07-29 05:30:29.043
4997,2019-07-28 01:41:45.673,Bird,BRD6174,Powered88W6W,14.000000,1312.33600,2019-07-28,01:28:57.053333,2019-07-28,01:42:38.046666,36.15640,-86.77430,36.15650,-86.77430,"[(36.156759, -86.774231), (36.156629, -86.7741...",2019-07-29 05:30:29.163
4998,2019-07-28 01:41:45.673,Bird,BRD6171,PoweredDB8H4,11.000000,984.25200,2019-07-28,01:31:43.650000,2019-07-28,01:42:16.796666,36.16360,-86.77870,36.16130,-86.77680,"[(36.163835, -86.778626), (36.16386, -86.77849...",2019-07-29 05:30:29.073
4999,2019-07-28 01:41:45.673,Bird,BRD6169,Powered369H2,6.000000,0.00000,2019-07-28,01:35:58.883333,2019-07-28,01:42:28.983333,36.16490,-86.77610,36.17000,-86.76890,"[(36.164981, -86.776052), (36.164939, -86.7759...",2019-07-29 05:30:29.013

In [21]:
trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pubtimestamp    5000 non-null   datetime64[ns]
 1   companyname     5000 non-null   object
 2   triprecordnum   5000 non-null   object
 3   sumdid          5000 non-null   object
 4   tripduration    5000 non-null   float64
 5   tripdistance    5000 non-null   float64
 6   startdate       5000 non-null   object
 7   starttime       5000 non-null   object
 8   enddate         5000 non-null   object
 9   endtime         5000 non-null   object
 10  startlatitude   5000 non-null   float64
 11  startlongitude  5000 non-null   float64
 12  endlatitude     5000 non-null   float64
 13  endlongitude    5000 non-null   float64
 14  triproute       5000 non-null   object
 15  create_dt       5000 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(6), object(8)
memory usage: 625.1+ KB

# count for trips = 565522

#trips.companyname are 7 (jump,lime,bird,lyft,spin,bolt mobility,gotcha)

## Count the number of null values in each column

In [18]:
trips.isnull().sum()

pubtimestamp      0
companyname       0
triprecordnum     0
sumdid            0
tripduration      0
tripdistance      0
startdate         0
starttime         0
enddate           0
endtime           0
startlatitude     0
startlongitude    0
endlatitude       0
endlongitude      0
triproute         0
create_dt         0
dtype: int64

#2.SELECT MIN(startdate) AS min_start_date, MAX(enddate) AS max_end_date
#FROM trips;
#min(stratdate) =2019-05-01    max(enddate)=29-08-01